// .jetpack-portfolio {
//   float: none;
//   width: 100%;
// }

// .portfolio-entry-header {
//   font-size: 80%;
// }

#filters {
	@include reset-list;
	margin-top: 1rem;
	text-align: center;
	li {
		display: inline-block;
		
		padding: 0 .5rem;
	}
}

.portfolio {
	// background-color: $portfolio-grid-background;
	// border-left: 6px solid #fff;
}

.portfolio-sizer,
.portfolio-item {
	width: 50%;
}
.portfolio-item {
	// overflow: hidden;
	// @include aspect-ratio(1, 1);
	a {
		display: block;
		// padding: 15px;
		// border-bottom: 3px solid #fff;
		// border-top: 3px solid #fff;
		// border-right: 6px solid #fff;
		img {
			display: block;
		}
	}

}
.portfolio-item--width2 {
	width: 100%;

		// @include aspect-ratio(2, 1);

}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.portfolio-sizer,
	.portfolio-item {
		width: 25%;
	}
	.portfolio-item--width2 {
		width: 50%;
	}
}

