// .jetpack-portfolio {
//   float: none;
//   width: 100%;
// }

// .portfolio-entry-header {
//   font-size: 80%;
// }

#filters,
.project-categories {
	@include reset-list;
	text-align: center;
	li {
		display: inline-block;
		padding: 0 .5rem;
	}
}

#filters {
	margin-top: 1rem;
}
.project-categories {
	.portfolio-item & {
		margin: 0;
	}
}



.portfolio {
	// background-color: $portfolio-grid-background;
	// border-left: 6px solid #fff;
}

.portfolio-sizer,
.portfolio-item {
	width: 50%;
}
.portfolio-item {

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		transition: $animate-color-bg;
		@include link-bg-color(color('black', 'base'), color('grey', 'dark'), color('white', 'base'), color('white', 'base'));

		img {
			display: block;
			opacity: .55;
			transition: $animate-opacity;
			backface-visibility: hidden; //So image doesn't flickr -webkit
		}
		&:hover img {
			opacity: .15;
		}
		.link-info {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			text-align: center;
			z-index: 999;
			padding: .5rem;
			h3 {
				margin: 0;
			}

		}
	}
}
.portfolio-item--width2 {
	width: 100%;
}

@media #{$small-only} {
	.project-categories {
		.portfolio-item & {
			font-size: .9rem;
			li {
				padding: 0 .25rem;
			}
		}
	}
	.read-more {
		display: none;
	}
}
@media #{$medium-up} {
	.portfolio-item {
		a {
			.link-info {
				padding: 1rem;
			}
		}
	}
}
@media #{$large-up} {
	#filters,
	.project-categories {
		li {
			padding: 0 1rem;
		}
	}

	.portfolio-sizer,
	.portfolio-item {
		width: 25%;
	}
	.portfolio-item--width2 {
		width: 50%;
	}
}

