.entry-header,
.entry-content,
.entry-footer {
	body:not(.single-post):not(.blog) & {
		@include contain-blocks;
	}
}

.entry-header {
	text-align: center;
	@media #{$medium-up} {
		body:not(.home) & .entry-title {
			margin-top: 0;
		}
	}
}

.entry-content {
	.featured-image {
		text-align: center;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}