.entry-header,
.entry-content,
.entry-footer {
	body:not(.single-post):not(.blog) & {
		@include contain-blocks;
	}
}

.entry-header {
	text-align: center;
}

.entry-content {
	.featured-image {
		text-align: center;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}